<h2 mat-dialog-title *ngIf="!isEditing">Crear una nueva tarea</h2>
<h2 mat-dialog-title *ngIf="isEditing">Editar Tarea</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" style="display: block">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="title" required />
  </mat-form-field>
  <mat-form-field appearance="fill" style="display: block">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancelar</button>
  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    *ngIf="!isEditing"
  >
    Crear Tarea
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    *ngIf="isEditing"
  >
    Actualizar Tarea
  </button>
</mat-dialog-actions>
