<h2 mat-dialog-title *ngIf="!isEditing">Create a New Task</h2>
<h2 mat-dialog-title *ngIf="isEditing">Edit Task</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" style="display: block">
    <mat-label>Task Title</mat-label>
    <input matInput [(ngModel)]="title" required />
  </mat-form-field>
  <mat-form-field appearance="fill" style="display: block">
    <mat-label>Task Description</mat-label>
    <textarea matInput [(ngModel)]="description"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClose()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    *ngIf="!isEditing"
  >
    Create Task
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="submit()"
    *ngIf="isEditing"
  >
    Update Task
  </button>
</mat-dialog-actions>
